html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

body {
  font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #1d3458;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2)), url(../img/rainbo1.jpeg) center center fixed;
  background-size: cover; }

textarea {
  outline: none;
  overflow: auto;
  border: none;
  resize: none;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.input {
  flex-basis: 35%;
  background-color: white;
  padding: 10px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.input:before, .input:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px; }

.input:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg); }
